<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bil496">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.carboncalculation.carbonfootprintcalculation.add_electricity_menu"></activity>
        <activity android:name=".ui.carboncalculation.carbonfootprintcalculation.add_gas_menu" />
        <activity android:name=".ui.carboncalculation.carbonfootprintcalculation.add_bus_menu" />
        <activity android:name=".ui.carboncalculation.carbonfootprintcalculation.add_bike_menu" />
        <activity android:name=".ui.carboncalculation.carbonfootprintcalculation.add_active_journey_menu" />
        <activity android:name=".ui.carboncalculation.carbonfootprintcalculation.add_car_menu" />
 <!--       <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
-->
        <activity android:name=".UnityHandlerActivity"/>
        <activity android:name=".ProfileActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>